@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.body {
  font-family: -apple-system,"BlinkMacSystemFont","Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif,"Segoe UI Emoji";
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.body > *:first-child {
  margin-top: 0 !important; 
}
.body > *:last-child {
  margin-bottom: 0 !important; 
} 

.a {
  color: #4183C4; }
.a.absent {
  color: #cc0000; }
.a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; 
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.line-through {
  text-decoration: line-through;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #262626;
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

.h1 tt, .h1 code {
  font-size: inherit; 
}

.h2 tt, .h2 code {
  font-size: inherit; 
}

.h3 tt, .h3 code {
  font-size: inherit; 
}

.h4 tt, .h4 code {
  font-size: inherit; 
}

.h5 tt, .h5 code {
  font-size: inherit; 
}

.h6 tt, .h6 code {
  font-size: inherit; 
}

.h1 {
  font-size: 38px;
}

.h2 {
  font-size: 28px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
}

.h3 {
  font-size: 24px; 
}

.h4 {
  font-size: 20px; 
}

.h5 {
  font-size: 18px; 
}

.h6 {
  color: #777777;
  font-size: 18px; 
}

.p {
  color: #262626;
}

.p, .blockquote, .ul, .ol, .dl, .table, pre {
  margin: 5px 0; 
}

.ol {
  margin: 0;
}

.ul {
  margin: 0;
  color: #262626;
}

.li {
  margin: 0;
}

hr {
  border: solid 1px #cccccc;
  padding: 0; 
}

.br {
  display: block;
  content: "";
  padding: 5px;
  margin: 0;
}

.inline-br {
  display: block;
  content: "";
  padding: 0;
  margin: 0;
}

body > .h2:first-child {
  margin-top: 0;
  padding-top: 0; 
}
body > .h1:first-child {
  margin-top: 0;
  padding-top: 0; 
}
  body > .h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; 
  }
body > .h3:first-child, body > .h4:first-child, body > .h5:first-child, body > .h6:first-child {
  margin-top: 0;
  padding-top: 0; 
}

.a:first-child h1, .a:first-child h2, .a:first-child h3, .a:first-child h4, .a:first-child h5, .a:first-child .h6 {
  margin-top: 0;
  padding-top: 0; 
}

.h1 .p, .h2 .p, .h3 .p, .h4 .p, .h5 .p, .h6 .p {
  margin-top: 0; 
}

.li .p.first {
  display: inline-block; 
}

.ul, .ol {
  padding-left: 30px; }

.ul :first-child, .ol :first-child {
  margin-top: 0; 
}

.ul :last-child, .ol :last-child {
  margin-bottom: 0; 
}

.dl {
  padding: 0; }
  .dl .dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    .dl .dt:first-child {
      padding: 0; }
    .dl .dt > :first-child {
      margin-top: 0; }
    .dl .dt > :last-child {
      margin-bottom: 0; }
  .dl .dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    .dl .dd > :first-child {
      margin-top: 0; }
    .dl .dd > :last-child {
      margin-bottom: 0; }

.blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; 
}

.blockquote .p {
  color: #777777; 
}

.blockquote .inline-code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  color: #666666;
  font-family: 'Source Code Pro', monospace;
  border-radius: 3px;
}

.blockquote > :first-child {
  margin-top: 0; 
}

.blockquote > :last-child {
  margin-bottom: 0; 
}

.table {
  padding: 0; }
  .table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    .table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    .table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .table tr th :first-child, .table tr td :first-child {
      margin-top: 0; }
    .table tr th :last-child, .table tr td :last-child {
      margin-bottom: 0; }

.img {
  max-width: 100%; 
}

.video {
  width: 640px;
  height: 360px;
  background-color: #000;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  border: none;
  background: transparent; 
}

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
  font-size: 15px;
  line-height: 19px;
  overflow: auto;
  font-family: -apple-system,"BlinkMacSystemFont","Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif,"Segoe UI Emoji";
  padding: 16px 20px;
  border-radius: 5px; }

pre {
  font-size: 16px;
  line-height: 19px;
  overflow: auto;
  padding: 5px 16px;
  border-radius: 5px; 
}

pre code, pre tt {
  background-color: transparent;
  border: none; 
}

pre code br {
  display: block;
  content: "";
}

.code-block {
  margin: 20px 0;
  background-color: #030e2b;
  padding: 0;
  border-radius: 5px;
  position: relative;
}

.filename {
  background-color: rgba(255, 255, 255, .3);
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
  margin: 0;
  top: 0;
  position: absolute;
  border-radius: 5px 0 5px 0;
}

.code {
  color: #fff;
  border: none;
  font-size: 15px;
  line-height: 19px;
  overflow: auto;
  padding: 5px 20px;
  border-radius: 3px;
}

.checklist {
  list-style-type: none;
  padding: 0;
}

input[type="checkbox"] {
  margin: 0 5px;
}

.math {
  background-color: #fff;
  border: none;
  overflow: auto;
  padding: 5px 16px;
}

.katex { 
  font-size: 22px;
}

.katex-center {
  display: flex;
  justify-content: center;
}

.message {
  margin: 20px 0;
  font-size: 14px;
  line-height: 19px;
  overflow: auto;
  padding: 10px 16px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-danger {
  background-color: #ffb5b5;
  border-left: solid 10px #ff6969;
  color: #d13d3d;
}

.message-icon-danger {
  background-image: url("./images/danger.svg");
  width: 30px;
  height: 30px;
  margin: 10px 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.message-warning {
  background-color: #ffeca6;
  border-left: solid 10px #ffc44f;
  color: #857111;
}

.message-icon-warning {
  background-image: url("./images/warning.svg");
  width: 30px;
  height: 30px;
  margin: 10px 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.message-info {
  background-color: #b5e8ff;
  border-left: solid 10px #4fb6ff;
  color:#216a94;
}

.message-icon-info {
  background-image: url("./images/info.svg");
  width: 30px;
  height: 30px;
  margin: 10px 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.message-success {
  background-color: #a4fcc6;
  border-left: solid 10px #4ad981;
  color: #1e9656;
}

.message-icon-success {
  background-image: url("./images/success.svg");
  width: 30px;
  height: 30px;
  margin: 10px 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.message-default {
  background-color: #f0f0f0;
  border-left: solid 10px #b8b8b8;
  color:#525252;
}

.inline-code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  color: #24374a;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace,"Segoe UI Emoji";
  border-radius: 3px;
}

.codefont {
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace,"Segoe UI Emoji";
}
